/*body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    text-align: center;
background-color:blanchedalmond; }

p { 
     background-color: white;

    }

    h1 { 
        background-color: white;
   
       }
.img1 {
display: flex;
justify-content: center;
align-items: center;
}